body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #2C2C2C;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1280px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------Хедер------------- */

.header-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-wrap {
    display: flex;
    margin-left: auto;
}

.navigation {
    display: flex;
}

.header-logo {
    width: 66px;
    height: 52px;
}

.header-logo-img {
    width: 100%;
    height: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav-link {
    padding-top: 28px;
    padding-bottom: 28px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: calc(16 / 14);
    color: #2C2C2C;
}

.nav-link:hover {
    font-weight: 700;
    color: #BBF330;
    text-decoration-line: underline;

}

.header-button {
    margin-left: 30px;
    padding: 6px 18px;
    background: #BBF330;
    border: 0px transparent;
    border-radius: 30px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 13px;
    line-height: calc(20 / 13);
    color: #2C2C2C;
    cursor: pointer;
}